$width-settings-panel: 422px;

.ppcp-r-styling {
	--block-item-gap: 0;
	--block-separator-gap: 24px;
	--block-header-gap: 18px;

	display: flex;
	border: 1px solid var(--color-separators);
	border-radius: 8px;
	overflow: hidden;

	.ppcp-r-settings-block {
		&.header-section {
			margin-bottom: 22px
		}

		// Select-fields have a smaller gap between the header and input field.
		&.has-select {
			--block-header-gap: 8px;
		}

		// Above the payment methods is a slightly larger gap.
		&.payment-methods {
			--block-separator-gap: 28px;
		}
	}

	/* The settings-panel (left side) */
	.settings-panel {
		width: $width-settings-panel;
		padding: 48px;

		.ppcp-r-styling__section {
			padding-bottom: 24px;
			margin-bottom: 28px;
			border-bottom: 1px solid var(--color-separators);

			&.no-gap,
			&:last-child {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom-style: none;
			}
		}

		// Horizontal radio buttons have a width of 100px.
		.components-radio-control__option {
			min-width: 100px;
		}
	}

	/* The preview area (right side) */
	.preview-panel {
		width: calc(100% - $width-settings-panel);
		background-color: var(--color-preview-background);
		display: flex;
		align-items: center;

		.preview-panel-inner {
			width: 100%;
			padding: 24px;
		}
	}
}
